#nav-container {
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px 0 15px 0;
}

body {
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: black;
  color: rgb(192, 191, 191);
}

#home-title {
  padding-left: 220px;
  color: #83C5BE;
  font-family: "Bricolage Grotesque", sans-serif;
}

#wordfind-area {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#wordfind-container {
  display: grid;
  /* Creates 10 columns, each 20px wide */
  grid-template-columns: repeat(15, 30px);
  /* Creates 10 rows, each 20px high */
  grid-template-rows: repeat(15, 30px);
}

#text-area {
  max-width: 540px;
}

input {
  background-color: black;
  color: rgb(192, 191, 191);
  height: 1.5rem;
  border-radius: 10px;
}

button {
  margin-left: 30px;
  padding: 0 20px;
  background-color: #83C5BE;
  color: black;
  height: 2rem;
  border-radius: 10px;
  font-size: 1rem;
}

h3 {
  color: #83C5BE;
}

#found-words {
  display: flex;
  flex-wrap: wrap;
}

.char-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-body {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#my-pic {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

#bio {
  max-width: 400px;
}

#project-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#project-columns {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.project-rows {
  display: flex;
  gap: 40px;
}

.project-image {
  max-width: 450px;
  border-radius: 10px;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project-anchor, .nav-component {
  font-weight: 700;
  font-size: 1.2rem;
  color: #83C5BE;
  text-decoration: none;
}

.in-line-anchor {
  font-size: 1rem;
  color: #83C5BE;
}

#nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}