#root {
  background-color: black;
  color: rgb(192, 191, 191);
}

a:hover, .cert-text:hover {
  color: #ca7b6e;
}

#root.light-mode,
body.light-mode,
#search-bar.light-mode,
#theme-bar.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

#search-bar.light-mode {
  border: 1px solid hsl(200, 15%, 8%);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

#nav-container {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  padding: 30px 0 15px 0;
}

#theme-bar {
  background-color: black;
  color: rgb(192, 191, 191);
  margin-right: 15px;
}

#theme-bar p {
  margin: 0;
}

body {
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-color: black;
  color: rgb(192, 191, 191);
  margin: 0;
  padding-bottom: 50px;
}

#home-title {
  padding-left: 220px;
  color: #83C5BE;
  font-family: "Bricolage Grotesque", sans-serif;
}

#wordfind-area {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#wordfind-container {
  display: grid;
  /* Creates 10 columns, each 20px wide */
  grid-template-columns: repeat(15, 30px);
  /* Creates 10 rows, each 20px high */
  grid-template-rows: repeat(15, 30px);
}

#text-area {
  max-width: 540px;
}

input {
  background-color: rgb(42, 42, 42);
  color: rgb(192, 191, 191);
  height: 1.5rem;
  border-radius: 10px;
  padding-left: 5px;
}

button {
  margin-left: 30px;
  padding: 0 20px;
  background-color: #83C5BE;
  color: black;
  height: 2rem;
  border: #83C5BE;
  border-radius: 10px;
  font-size: 1rem;
}

h3 {
  color: #83C5BE;
}

#found-words {
  display: flex;
  flex-wrap: wrap;
}

.char-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog:modal {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

dialog:modal button {
  padding: 0 10px 0 10px;
  margin-bottom: 5px;
}

.cert {
  width: 100%;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
}

.cert-text {
  text-decoration: underline;
  color: #83C5BE;
}

#about-body {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#my-pic {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

#bio {
  max-width: 400px;
}

#bio-2 {
  width: 50%;
  margin: 0 auto;
}

#card-container {
  width: 50%;
  margin: 0 auto;
  display: grid;
  /* Enables grid layout */
  grid-template-columns: 1fr 1fr;
  /* Two equal columns */
  grid-template-rows: auto auto;
  /* Two rows that fit their content */
  gap: 15px;
}

.skill-card {
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  width: 350px;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-card-light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  border-radius: 10px;
  width: 350px;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.card-image {
  height: 100px;
  padding-top: 15px;
}

.card-body {
  padding-top: 20px;
  width: 100%;
}

.card-body p {
  padding: 0 20px 0 20px;
}

.text {
  font-weight: bold;
  color: #83C5BE;
}

#project-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#project-columns {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.project-rows-even,
.project-rows-odd {
  display: flex;
  gap: 40px;
}

.project-image {
  max-width: 450px;
  border-radius: 10px;
}

.project-content {
  display: flex;
  flex-direction: column;
  width: 450px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.project-anchor,
.nav-component {
  font-weight: 700;
  font-size: 1.2rem;
  color: #83C5BE;
  text-decoration: none;
}

.in-line-anchor {
  font-size: 1rem;
  color: #83C5BE;
}

#nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 0;
  margin: 0 auto 0 auto;
  gap: 20px;
}

@media (max-width: 750px) {

  #nav-container {
    padding: 10px 0 0;
    flex-direction: column;
  }

  #theme-bar {
    margin: 0 auto;
    padding-top: 5px;
  }

  #home-title,
  #text-area {
    padding: 0;
    text-align: center;
  }

  #text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 10px;
  }

  #text-area p {
    margin: 0;
  }

  #wordfind-area {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  #wordfind-container {
    display: grid;
    /* Creates 10 columns, each 20px wide */
    grid-template-columns: repeat(15, 22px);
    /* Creates 10 rows, each 20px high */
    grid-template-rows: repeat(15, 22px);
  }

  #search-bar {
    width: 170px;
  }

  button {
    margin: 15px 0 0;
    width: 170px;
  }

  #found-words {
    text-align: left;
  }

  #about-body {
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  #card-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .skill-card,
  .skill-card-light-mode {
    margin: 0 auto;
    height: auto;
  }

  #bio {
    padding: 0 10px 0 10px;
  }

  #bio-2 {
    width: auto;
    margin: 0;
    padding: 0 10px 0 10px;
    text-align: center;
  }

  .cert {
    width: 200px;
  }

  #project-columns {
    gap: 25px;
  }

  .project-rows-odd {
    flex-direction: column-reverse;
  }

  .project-rows-even {
    flex-direction: column;
  }

  .project-image,
  .project-content {
    width: 95%;
    margin: 0 10px;
  }

}